@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes grow {
    from {width: 20vw;}
    to {width: 40vw;}
}

.img-container {
    position: absolute;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    will-change: transform;

    width: 50vw;// Temp
    height: auto;
}

.test {
    animation-name: fadeIn, grow;
    animation-duration: 3000ms;
    animation-timing-function: linear;

    width: 40vw;
}
.test-shade {
    animation-name: grow;
    animation-duration: 3000ms;
    animation-timing-function: linear;

    width: 40vw;
}

.test-2 {
    width: 60vw;
}

.test-2-shade {
    width: 60vw;
}

.eyes-1 {
    width: 10vw;
}
.eyes-2 {
    width: 20vw;
}
.eyes-3 {
    width: 30vw;
}
.eyes-4 {
    width: 40vw;
}
.eyes-5 {
    width: 50vw;
}
.eyes-6 {
    width: 60vw;
}
.eyes-7 {
    width: 70vw;
}
.eyes-8 {
    width: 80vw;
}
.eyes-9 {
    width: 90vw;
}
.eyes-10 {
    width: 100vw;
}

.large-eyes {
    width: 80vw;
}

img {
    position: relative;

    display: block;

    width: 100%;
    min-width: 1px;
    height: auto;

    margin: 0;
    padding: 0;
}
