.container {
    position: fixed;
    bottom: -250px;
    right: calc(50vw - 133.4px / 2);

    transition: transform 3s, right 1s, bottom 0.5s;
    transform:rotate(0deg);

    img {
        display: block;
        height: 179px;
    }

    will-change: transform;
    transform: translateZ(0);
}

.spin-in {
    transform:rotate(-30deg);
    right: 0px;
    transition: transform .5s, right .5s;
}

.hide {
    bottom: -250px;
}

.peak {
    bottom: -100px;
    animation: peak .6s infinite alternate;
}

.right {
    right: calc(50vw - 133.4px / 2 - 150px);
    animation: right .25s infinite alternate;
    bottom: -30px;
    img {
        transform: scaleX(-1);
    }
}

.left {
    right: calc(50vw - 133.4px / 2 + 150px);
    animation: left .25s infinite alternate;
    bottom: -30px;
}

.left.height1 {
    bottom: -5px;
}

.left.height2 {
    bottom: -30px;
}

.left.height3 {
    bottom: -50px;
}

.right.height1 {
    bottom: -5px;
}

.right.height2 {
    bottom: -30px;
}

.right.height3 {
    bottom: -50px;
}

@keyframes peak {
    from {transform:rotate(-2deg);}
    to {transform:rotate(2deg);}
}

@keyframes left {
    from {transform:rotate(0deg);}
    to {transform:rotate(10deg);}
}

@keyframes right {
    from {transform:rotate(0deg);}
    to {transform:rotate(-10deg);}
}