<audio #cheer src="assets/sfx/kids_cheering.mp3" type="audio/mpeg"></audio>

<div id="box" [class]="dark ? 'dark-theme' : ''" #the_box>
    <audio #audioEle *ngIf="audioSrc" [src]="audioSrc" autoplay></audio>

    <div *ngIf="imgSrc || iframeSrc" class="dynamic-content-container">
        <iframe *ngIf="iframeSrc" [src]="iframeSrc" [style.height]="'' + (settings?.dynamicContentSize * 100) + 'vh'"  [style.width]="'' + (settings?.dynamicContentSize * 100) + 'vw'"></iframe>

        <img [src]="imgSrc" class="responsive-image" [style.height]="'' + (settings?.dynamicContentSize * 100) + 'vh'">
    </div>

    <milk-man [active]="activeMilkMan"></milk-man>
    <mona-lisa #monaLisa></mona-lisa>

    <olives #olives [maxWidth]="the_box.offsetWidth" [maxHeight]="the_box.offsetHeight"></olives>

    <moo-msg *ngFor="let msg of msgs" [msg]="msg" [box]="box" (destroyMsg)="removeMsg(msg)"></moo-msg>

    <mr-saturn *ngFor="let saturn of saturns" [saturn]="saturn"></mr-saturn>

    <moo-jump-scare *ngIf="activeJumpScare"></moo-jump-scare>

    <div class="debugger-input" *ngIf="showChat">
        <mat-card>
            <mat-card-content>
                <mat-form-field class="input">
                    <input matInput type="text" placeholder="Chat" [value]="chat || ''" (change)="setChat($event)" (keyup.enter)="submitChat()">
                </mat-form-field>
                <button (click)="submitChat()" mat-raised-button color="primary">Send</button>
                <button (click)="storeMsgInDatabase()" mat-raised-button color="primary">Announce</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
