.container {
    position: absolute;
    bottom: -30px;
    right: -200px;

    img {
        display: block;
        height: 200px;
    }
}

.spin-in {
    transform:rotate(-30deg);
    right: 0px;
    transition: transform .5s, right .5s;
}

.spin-out {
    transform:rotate(0deg);
    right: -200px;

    transition: transform 2s, right 2.5s;
}
