
<div class="js-container">
    <ng-container *ngIf="!loading">
        <ng-container *ngFor="let eyes of eyeses">
            <eyes [eyes]="eyes"></eyes>
        </ng-container>

        <ng-container *ngFor="let eyes of mainEyeses">
            <eyes [eyes]="eyes"></eyes>
        </ng-container>

    </ng-container>

    <ng-container *ngIf="loading">
        <span>Loading . . .</span>
    </ng-container>
</div>

<audio #scream src="../../assets/jumpScare/scream.mp3"></audio>
<audio #crying src="../../assets/jumpScare/crying.mp3"></audio>
<audio #heartbeat src="../../assets/jumpScare/heartbeat.mp3"></audio>
