
<div #the_box class="js-container">
    <ng-container *ngIf="!loading">
        <ng-container *ngFor="let moo of eyeses">
            <eyes #eyes [box]="the_box" [open]="moo.open" [extraClass]="moo.extraClass" [extraClassAfter]="moo.extraClassAfter" [initRatio]="moo.initRatio" [afterRatio]="moo.afterRatio" [gitter]="moo.gitter"></eyes>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="loading">
        <span>Loading . . . </span>
    </ng-container>
</div>

<div #openEyesPlaceholder class="open-eyes-placeholder">
</div>
