
<div [class]="'js-container ' + (fadeOut ? 'fade-out' : '')">
    <ng-container *ngIf="!loading">
        <ng-container *ngFor="let eyes of eyeses">
            <eyes [eyes]="eyes"></eyes>
        </ng-container>

        <ng-container *ngFor="let eyes of mainEyeses">
            <eyes [eyes]="eyes"></eyes>
        </ng-container>

    </ng-container>
<!-- 
    <ng-container *ngIf="loading">
        <span>Loading . . .</span>
    </ng-container> -->
</div>

<audio #scream src="../../assets/jumpScare/scream.mp3" type="audio/mpeg"></audio>
<audio #crying src="../../assets/jumpScare/crying.mp3" type="audio/mpeg"></audio>
<audio #heartbeat src="../../assets/jumpScare/heartbeat.mp3" type="audio/mpeg"></audio>
