.js-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    overflow: hidden;

    transition: opacity 3s;
    opacity: 1;
}
.js-container.fade-out {
    opacity: 0;
}
