.container {
    position: absolute;
    display: flex;

    width: 42px;
    height: 42px;

    align-items: center;
    justify-content: center;

    animation: spin 3s infinite linear;

    img {
        display: block;
    }
}

.destroyed {
    display: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
