<div *ngIf="!authService.user" class="mat-app-background basic-container">
    <form (submit)="$event.preventDefault()">
        <mat-card>
            <mat-card-content class="sign-in-content">
                <h2 class="h2">Settings</h2>
                <section class="section">
                    <mat-form-field class="input">
                        <input matInput type="email" placeholder="Email" [value]="email || ''" (change)="setEmail($event)">
                    </mat-form-field>
                </section>

                <section class="section">
                    <mat-form-field class="input">
                        <input matInput type="password" placeholder="Password" [value]="password || ''" (change)="setPassword($event)">
                    </mat-form-field>
                </section>
            </mat-card-content>

            <section>
                <button [style.margin-right]="'16px'" (click)="signIn()" mat-raised-button color="primary" [disabled]="saving">Sign In</button>
                <button (click)="forgotPassword()" mat-raised-button color="secondary" [disabled]="saving">Forgot</button>
            </section>
        </mat-card>

        <div class="loader" *ngIf="!settings || saving">
            <mat-progress-spinner
                class="example-margin"
                mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </form>
</div>

<div *ngIf="authService.user" class="mat-app-background basic-container">
    <form (submit)="$event.preventDefault()">
        <mat-card *ngIf="settings">
            <mat-card-content>
                <h2 class="h2">Settings</h2>
                <section>
                    <label id="font">Font used for pop up messages</label>
    
                    <mat-radio-group
                        aria-labelledby="font"
                        class="font-radio-group"
                        [value]="fontOption"
                        (change)="updateFont($event)">
                        <mat-radio-button class="font-radio-button" *ngFor="let fontOption of fontOptions" [value]="fontOption">
                        {{ fontOption }}
                        </mat-radio-button>
                    </mat-radio-group>
                </section>
    
                <section class="section">
                    <mat-checkbox [checked]="settings.allowMsgsFromChat" (change)="updateAllowMsgsFromChat($event)">
                        Allow messages directly from chat to pop up on overlay (50 char limit)
                    </mat-checkbox>
                </section>

                <section class="section">
                    <mat-form-field class="input">
                        <input matInput type="number" placeholder="Additional Mr. Saturns per chat message" [value]="additionalSaturnsValue || 0" (change)="setAdditionalSaturns($event)">
                    </mat-form-field>
                </section>

                <section class="section">
                    <mat-form-field class="input">
                        <input matInput type="number" placeholder="Number of Mr. Saturns on screen at one time" [value]="saturnsLimitInputValue || 0" (change)="setSaturnsLimit($event)">
                    </mat-form-field>
                </section>

                <section class="section">
                    <mat-form-field class="input">
                        <input matInput type="number" placeholder="Endless loop (This is keep at least this many Mr. Saturns on the screen)" [value]="loopCountInputValue || 0" (change)="setLoopCount($event)">
                    </mat-form-field>
                </section>

                <section class="section">
                    <div class="checkboxes">
                        <mat-checkbox [checked]="settings.allowMilkman" (change)="updateAllowMilkman($event)">
                            Allow Milk man popup
                        </mat-checkbox>
    
                        <mat-checkbox [checked]="settings.allowMonaLisa" (change)="updateMonaLisa($event)">
                            Allow Mona Lisa facehugger popup
                        </mat-checkbox>
                        
                        <mat-checkbox [checked]="settings.allowOlives" (change)="updateAllowOlives($event)">
                            Allow olive popups
                        </mat-checkbox>
                    </div>
                </section>

                <section class="section">
                    <div class="checkboxes">
                        <mat-checkbox [checked]="settings.allowRandomSprites" (change)="updateAllowRandomSprites($event)">
                            Allow random sprites instead of Mr. Saturns when users chat
                        </mat-checkbox>
                    </div>

                    <div class="checkboxes">
                        <mat-checkbox [checked]="settings.loopRandomSprites" (change)="updateLoopRandomSprites($event)">
                            Use random sprites instead of Mr. Saturns for "Endless loop"
                        </mat-checkbox>
                    </div>
                </section>
            </mat-card-content>

            <section>
                <div class="slider-container">
                    <div id="volume-label">Volume</div>

                    <mat-slider
                        [max]="10"
                        [min]="0"
                        [thumbLabel]="true"
                        [step]="0.1"
                        [value]="volumeStepperValue"
                        (change)="updateVolume($event)">
                    </mat-slider>
                </div>
            </section>

            <section>
                <div class="slider-container">
                    <div id="volume-label">Dynamic Content Size Ratio (img, iframe)</div>

                    <mat-slider
                        [max]="100"
                        [min]="0"
                        [thumbLabel]="true"
                        [step]="1"
                        [value]="dynamicContentSizeValue"
                        (change)="updateDynamicContentSize($event)">
                    </mat-slider>
                </div>
            </section>

            <section>
                <button (click)="save()" mat-raised-button color="primary" [disabled]="saving">Save</button>
            </section>
        </mat-card>
    
        <div class="loader" *ngIf="!settings || saving">
            <mat-progress-spinner
                class="example-margin"
                mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </form>
</div>
