mat-card {
    padding: 32px;
}

.sign-in-content {
    width: 90vw;
    max-width: 300px;
}

.section {
    display: flex;
    align-content: center;
    align-items: center;

    min-height: 60px;
}

.font-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.font-radio-button {
    margin: 5px;
}

.checkboxes {
    mat-checkbox {
        margin-right: 24px;
    }
}

.slider-container {
    display: flex;
    flex-direction: column;

    mat-slider {
        flex-grow: 2;
    }
}

.input {
    flex-grow: 2;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    will-change: transform;
    transform: translateZ(0);
}
